
<div class="all-services">
  <h1>Наші послуги</h1>
  <div class="wrapper">

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Аудиторські послуги</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-list role="list">

          <mat-list-item role="listitem">
            <mat-icon mat-list-icon>done</mat-icon>
            <div mat-line><a [routerLink]="['NationalAuditOfFinancialStatements']">Національний  аудит фінансової звітності</a></div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <mat-icon mat-list-icon>done</mat-icon>
            <div mat-line><a [routerLink]="['InitiativeAudit']">Ініціативний аудит</a></div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <mat-icon mat-list-icon>done</mat-icon>
            <div mat-line><a [routerLink]="['TaxAudit']">Податковий аудит</a></div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <mat-icon mat-list-icon>done</mat-icon>
            <div mat-line><a [routerLink]="['SpecialPurposeAudit']">Аудит спеціального призначення</a></div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <mat-icon mat-list-icon>done</mat-icon>
            <div mat-line><a [routerLink]="['AuditDuringReorganization']">Аудит при реорганізації, ліквідації, банкрутстві підприємств</a></div>
          </mat-list-item>

        </mat-list>
      </mat-card-content>

    </mat-card>


    <mat-card class="example-card card2">
      <mat-card-header>
        <mat-card-title>Аутсорсинг бухгалтерії</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-list role="list">

          <mat-list-item role="listitem">
            <mat-icon mat-list-icon>done</mat-icon>
            <div mat-line><a [routerLink]="['ComprehensiveOutsourcing']">Комплексний аутсорсинг бухгалтерського обліку</a></div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <mat-icon mat-list-icon>done</mat-icon>
            <div mat-line><a [routerLink]="['AccountingWithTheDivisionOfPowers']">Бухгалтерський облік з розподілом повноважень</a></div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <mat-icon mat-list-icon>done</mat-icon>
            <div mat-line><a [routerLink]="['OutsourcingOfIndividualAreasOfAccounting']">Аутсорсинг окремих ділянок бухгалтерського обліку</a></div>
          </mat-list-item>

        </mat-list>
      </mat-card-content>
    </mat-card>



    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Консалтинг</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-list role="list">

          <mat-list-item role="listitem">
            <mat-icon mat-list-icon>done</mat-icon>
            <div mat-line><a [routerLink]="['TaxConsulting']">Податковий консалтинг</a></div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <mat-icon mat-list-icon>done</mat-icon>
            <div mat-line><a [routerLink]="['PreparationAndPreparationOfManagementReports']">Постановка та підготовка управлінської звітності</a></div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <mat-icon mat-list-icon>done</mat-icon>
            <div mat-line><a [routerLink]="['Recruitment']">Підбір персоналу та тестування бухгалтерів</a></div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <mat-icon mat-list-icon>done</mat-icon>
            <div mat-line><a [routerLink]="['TaxPlanning']">Податкове планування</a></div>
          </mat-list-item>

        </mat-list>
      </mat-card-content>

    </mat-card>


  </div>

</div>
