.example-card {
  max-width: 400px;
  -webkit-box-shadow: 29px -10px 13px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 29px -10px 13px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 29px -10px 13px 2px rgba(34, 60, 80, 0.2);
  height: 500px;
  padding-top: 3%;
}
::ng-deep .mat-list .mat-list-item .mat-line{
  word-wrap: break-word;
  white-space: pre-wrap;
}
.all-services{
  margin-top: 3%;
  height: 100vh;
 display: flex;
  flex-direction: column;
}
.wrapper{
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*.card2{*/
/* margin-top: 5%;*/
/*}*/

h1{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: darkslategrey;
}
a{
  color: black;
}
a:hover{
  color: #813838;
  transition-duration: 0.25s;
}

.modal {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  top: -1000px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 60px 15px;
}

.modal_active {
  position: fixed;
  top: 0;
  visibility: visible;
  opacity: 1;
  transition: .3s;
}

.modal__content {
  width: 100%;
  max-width: 500px;
  padding: 50px;
  background: #f9f9f9;
  border-radius: 3px;
  position: relative;
  box-shadow: 0 5px 15px black;
}

.modal__close-button {
  background: #ff0000;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  cursor: pointer;
  transition: .3s;
  outline: none;
}

.modal__close-button:hover {
  transition: .3s;
  transform: rotate(180deg);
}

.modal__title {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 0 0 15px;
}

.modal__description {
  font-size: 1.125rem;
}
