<div class="quality-police">
<h1>
  Політика якості
</h1>
  <div class="wrapper">
    <div class="wrapper-item item1"></div>
    <div class="wrapper-item">
      <div class="item2">
        <h2>For startups and SMEs</h2>
        <p> The first few years are especially important for every young company,
          since approximately 80% of new businesses are closed due to operational problems.
          We provide startups and SMEs with full support.</p>
      </div>

     </div>
    <div class="wrapper-item">
      <div class="item3">
        <h2>For corporations</h2>
        <p> The larger the company, the more it needs process control.
          We will help to keep everything under control and automate processes.
          You can concentrate on operational management and develop your company.</p>
      </div>

    </div>
    <div class="wrapper-item item4"></div>

  </div>
</div>
