<div class="aboutUs">
  <div class="wrapper">
    <div class="left">
      <h1>About TMG Company.</h1>
      <br>
      <h2>We provide a full range of services to meet our clients' requirements and help their businesses grow. </h2>
      <p>Since 2008, we have been helping businesses achieve better results.
        We have extensive experience in various fields and a close-knit team,
        so we are ready to accept any challenge and develop an individual plan for the development of your business from A to Z,
        and bring it to life.
        It is a modern, young and promising audit firm that is dynamically developing in the market of audit and accounting services.
        The main principles of our company are a guarantee of professionalism and a high level of standards of professional services.</p>
    </div>
    <div class="right">
      <img src="https://t3.ftcdn.net/jpg/01/91/97/84/360_F_191978484_TDDdfkAuk9BsSQXxGi0Xb77ZDNGePUZi.jpg" class="grid" alt="">
<!--      <img src="https://res2.weblium.site/res/5e20594b24d0ee0021822582/5e207264f5dc36002191f3c0_optimized_1005.webp" alt="" class="photo">-->
      <img src="assets/images/IMG_COMPANY.JPG" alt="" class="photo">
    </div>
  </div>

</div>

