<div class="aboutUs">
  <div class="wrapper">
    <div class="left">
      <h1>Про компанію</h1>
      <br>
      <p>Аудиторська фірма ЗАХІДАУДИТСЕРВІС – це сучасна та перспективна аудиторська фірма,
        яка динамічно розвивається на ринку аудиторських і бухгалтерських послуг.
        Основні принципи роботи нашої фірми – це гарантія професіоналізму і
        високий рівень стандартів надання професійних послуг.</p>
      <p>Аудиторська фірма Західаудитсервіс є членом ради незалежних бухгалтерів і аудиторів України (РНБА),
        Федерації професійних бухгалтерів і аудиторів України та активно приймає участь в сприянні реформуванню
        та розвитку бухгалтерського обліку та аудиту в Україні.</p>
      <p>Клієнтами компанії вже стали більш ніж 200 організацій, більшість яких – це малий і середній бізнес. Але ми
        також успішно працюємо і з великим вітчизняним і іноземним бізнесом.</p>
      <p><i>Політика нашої компанії спрямована на довготривалу та взаємовигідну співпрацю з нашими клієнтами та надання
        тільки якісних послуг.</i>
      </p>
      <p><i>Компетентність, індивідуальний підхід, постійне підвищення кваліфікації наших спеціалістів гарантують успішну
        та взаємовигідну співпрацю!</i></p>
    </div>
    <div class="right">
      <img src="https://t3.ftcdn.net/jpg/01/91/97/84/360_F_191978484_TDDdfkAuk9BsSQXxGi0Xb77ZDNGePUZi.jpg" class="grid"
           alt="">
      <!--      <img src="https://res2.weblium.site/res/5e20594b24d0ee0021822582/5e207264f5dc36002191f3c0_optimized_1005.webp" alt="" class="photo">-->
      <img src="assets/images/IMG_COMPANY.JPG" alt="" class="photo">
    </div>
  </div>

</div>

