<div id="fieldOfWorkWrapper">
  <div id="titleWrapper">
    <div id="title">
      <p><b style="color: #864869">Сферы</b></p>
      <br>
      <p style="color: #864869">работы</p>
    </div>
  </div>
  <div id="fields">
    <div id="wrapper">
      <div class="field-name">
        <div  class="text-header">
          <p><mat-icon>change_history</mat-icon>АБОНЕНТСЬКЕ БУХГАЛТЕРСЬКЕ ОБСЛУГОВУВАННЯ</p>
        </div>

        (комплексна бухгалтерія Вашого підприємства)
      </div>
      <div class="field-name">

        <p class="text-header"><mat-icon>change_history</mat-icon>АУТСОРСІНГ БУХГАЛТЕРІЇ</p>

        (ведення бухгалтерського та податкового обліку в цілому або окремих ділянок обліку)
      </div>
      <div class="field-name">

        <p class="text-header"> <mat-icon>change_history</mat-icon>АУДИТОРСЬКІ ПОСЛУГИ</p>
      </div>
      <div class="field-name">

        <p class="text-header"><mat-icon>change_history</mat-icon>ПОДАТКОВЕ КОНСУЛЬТУВАННЯ</p>
      </div>
    </div>

  </div>
</div>





















<div id="intro">
  <div class="aboutAutsorsing">
    <p class="header">Що таке аутсорсінг?</p>
    Аутсорсинг (від англ. Outsourcing: зовнішнє джерело) - передача організацією певних бізнес-процесів або виробничих функцій на обслуговування іншій компанії, що спеціалізується у відповідній області.
    На відміну від послуг сервісу і підтримки, що мають разовий характер і обмежених початком і кінцем, на аутсорсинг передаються зазвичай функції по професійній підтримці безперебійної працездатності окремих систем і інфраструктури на основі тривалого контракту.
    <br><br><a href="#">Детальніше</a>
  </div>
  <div class="appeaOfTheHead">
    <p class="header">Звернення керівника</p>
    Ми сподіваємось що на нашому сайті Ви обов’язково знайдете для себе корисну інформацію а також шляхи вирішення хвилюючих Вас питань,
    нові стимули до розвитку бізнесу. У своїй роботі ми поєднуємо кращий досвід та 15-річну практику в галузі
    бухгалтерського обліку, аудиту, податків, права, та інших послуг.
    <br><br><a href="#">Детальніше</a>
  </div>
</div>
