.wrapper{
  width: 700px;
  height: 400px;
  border: 2px wheat solid;
  margin: auto;
  padding: 80px 100px;
  position: relative;
}
.Accounting{
  margin-top: 3%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
h3{
  color: wheat;
}
button{
  position: absolute;
  right: 0;
  bottom: 1%;
  background-color: wheat;
  color: white;
}
