
<!--<div class="main">-->

<!--</div>-->

<div class="wrapper">
  <section id="header">
    <app-header></app-header>
  </section>
  <section id="maintenance">
      <app-main></app-main>
  </section>
  <section id="aboutCompany">
      <app-about-company></app-about-company>
  </section>
  <section id="qualityPolice">
    <app-quality-policy></app-quality-policy>
  </section>
  <section id="team">
      <app-team></app-team>
  </section>
  <section id="sendRequest">
    <app-send-request></app-send-request>
  </section>
</div>










