<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!--<div class="wrapper">-->
<!--  <section id="header">-->
<!--    <app-header></app-header>-->
<!--  </section>-->
<!--  <router-outlet></router-outlet>-->
<!--&lt;!&ndash;  <section id="aboutCompany">&ndash;&gt;-->
<!--&lt;!&ndash;    <app-about-company></app-about-company>&ndash;&gt;-->
<!--&lt;!&ndash;  </section>&ndash;&gt;-->
<!--&lt;!&ndash;  <section id="maintenance">&ndash;&gt;-->
<!--&lt;!&ndash;      <app-main></app-main>&ndash;&gt;-->
<!--&lt;!&ndash;  </section>&ndash;&gt;-->
<!--&lt;!&ndash;  <section id="qualityPolice">&ndash;&gt;-->
<!--&lt;!&ndash;    <app-quality-policy></app-quality-policy>&ndash;&gt;-->
<!--&lt;!&ndash;  </section>&ndash;&gt;-->
<!--&lt;!&ndash;  <section id="team">&ndash;&gt;-->
<!--&lt;!&ndash;      <app-team></app-team>&ndash;&gt;-->
<!--&lt;!&ndash;  </section>&ndash;&gt;-->
<!--</div>-->
<!--<footer>-->
<!--  <app-footer></app-footer>-->
<!--</footer>-->


