#fieldOfWorkWrapper{
  display: flex;
  height: 70vh;
}
#titleWrapper{
  width: 40%;
  background-color: #fdeafa;
  position: relative;
}
#title{
  position: absolute;
  top: 20%;
  left:40%;
  font-size: 50px;
}

#fields{
  width: 70%;
}
.field-name{
  height: 40%;
  width: 40%;
  font-size: 16px;
  color: #64334d;
}
.text-header{
  display: flex;
  font-size: 17px;
}
#wrapper{
  margin-top: 60px;
  margin-left: 55px;
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
mat-icon{
  transform: rotate(90deg);
}


