<div id="fieldOfWorkWrapper">
  <div id="titleWrapper">
    <div id="title">
      <p><b style="color: #864869">Сферы</b></p>
      <br>
       <p style="color: #864869">работы</p>
    </div>
  </div>
  <div id="fields">
    <div id="wrapper">
        <div class="field-name">
          <div  class="text-header">
            <p><mat-icon>change_history</mat-icon>АБОНЕНТСЬКЕ БУХГАЛТЕРСЬКЕ ОБСЛУГОВУВАННЯ</p>
          </div>

          (комплексна бухгалтерія Вашого підприємства)
        </div>
        <div class="field-name">

          <p class="text-header"><mat-icon>change_history</mat-icon>АУТСОРСІНГ БУХГАЛТЕРІЇ</p>

          (ведення бухгалтерського та податкового обліку в цілому або окремих ділянок обліку)
        </div>
        <div class="field-name">

         <p class="text-header"> <mat-icon>change_history</mat-icon>АУДИТОРСЬКІ ПОСЛУГИ</p>
        </div>
        <div class="field-name">

          <p class="text-header"><mat-icon>change_history</mat-icon>ПОДАТКОВЕ КОНСУЛЬТУВАННЯ</p>
        </div>
    </div>

  </div>
</div>
