<div class="team">
  <h1> Наша команда</h1>
<div class="wrapper">
  <mat-card class="example-card">
    <mat-card-title>Diana</mat-card-title>
    <div class="round-image diana-img"></div>
    <mat-card-content class="desc">
      <p>
        Diana opened our company more than 10 years ago,
        as he saw that hundreds of businesses need help in various matters,
        from process automation to communicating with customers.
      </p>
    </mat-card-content>

  </mat-card>

  <mat-card class="example-card">
    <mat-card-title>Nadine</mat-card-title>
    <div class="round-image nadine-img"></div>
    <mat-card-content class="desc">
      <p>
        Most of all, Nadine loves numbers in her work.
        She is ready to sit for hours with reports and diagrams so that your
        business receives real data and a clear vision of the future.
      </p>
    </mat-card-content>

  </mat-card>

  <mat-card class="example-card">
    <mat-card-title>Maria</mat-card-title>
    <div class="round-image maria-img"></div>
    <mat-card-content class="desc">
      <p>
        Our interaction does not end with paying for our services and introducing the planned technologies.
        Maria makes sure that all our customers are happy with the result of our work.
      </p>
    </mat-card-content>

  </mat-card>

</div>





  <!--  <mat-carousel-->
<!--    timings="250ms ease-in"-->
<!--    [autoplay]="true"-->
<!--    interval="4000"-->
<!--    color="accent"-->
<!--    maxWidth="auto"-->
<!--    proportion="55"-->
<!--    slides="5"-->
<!--    [loop]="true"-->
<!--    [hideArrows]="false"-->
<!--    [hideIndicators]="false"-->
<!--    [useKeyboard]="true"-->
<!--    [useMouseWheel]="false"-->
<!--    orientation="ltr">-->
<!--    <mat-carousel-slide-->
<!--      #matCarouselSlide-->
<!--      *ngFor="let slide of slides; let i = index"-->
<!--      [image]="slide.image"-->
<!--      overlayColor="#00000040"-->
<!--      [hideOverlay]="false"-->
<!--    ></mat-carousel-slide>-->
<!--  </mat-carousel>-->
</div>
