
<div class="content">
  <div class="logo">
    <img src="./assets/images/logo.jpg" alt="" >
    <div class="wrapper">
      <button class="menu-item" mat-button (click)="toHeader()">Головна</button>
      <button class="menu-item" mat-button (click)="toAboutUs()">Про компанію</button>
      <button class="menu-item" mat-button (click)="toMaintenance()">Послуги</button>
      <button class="menu-item" mat-button (click)="toQualityPolice()">Політика якості</button>
      <button class="menu-item" mat-button>Контакти</button>
    </div>
  </div>
<div class="content-text">
  <h1>Ваш бізнес - це наша турбота</h1>
  <h1 style="">Ефективні рішення для вашого бізнесу</h1>

</div>

</div>





<!--<div class="container-fluid wrapper">-->
<!--  <div class="row px-4 pt-1 justify-content-between">-->
<!--    <div class = "col-lg-3 col-md-4 col-sm-3 col-auto  p-0 logo"><img src="./assets/images/logo.jpg" alt="" ></div>-->
<!--    <div class = "col-lg-6 col-md-8 col-sm-9 col-xs p-0 menu" >-->
<!--            <button class="menu-item" mat-button (click)="toHeader()">Головна</button>-->
<!--            <button class="menu-item" mat-button (click)="toAboutUs()">Про компанію</button>-->
<!--            <button class="menu-item" mat-button (click)="toMaintenance()">Послуги</button>-->
<!--            <button class="menu-item" mat-button (click)="toQualityPolice()">Політика якості</button>-->
<!--            <button class="menu-item" mat-button>Контакти</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
