
.menu-item{
  font-size: 17px;
  margin-left: 5px;
}


.content {
  height: 100vh;
 /*background-image: linear-gradient(rgba(176, 55, 135,1), rgba(0.77, 0.19, 0.58, 0.39)),url("/assets/images/IMG_7137.JPG");*/
  background-image: url("/assets/images/Depositphotos2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position-y: center;

}


.content-text{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

h1{
  font-size: 30px;

}

.logo{
  height: 80px;
  z-index: 1;
  background-color: rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
img{
    width: 220px;
    height: 50px;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*button:hover{*/
/*  border-bottom: 2px solid #a12778c2;*/
/*}*/




/*img{*/
/*  width: 80%;*/
/*  height: 50px;*/
/*}*/

/*.menu{*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*}*/


/*button:hover{*/
/*  border-bottom: 2px solid #a12778c2;*/
/*}*/

/*.wrapper{*/
/*  background-color: rgba(0,0,0,0.1);*/

/*}*/
