.logo{
  /*background: rgb(168,179,255);*/
  /*background: linear-gradient(90deg, rgba(168,179,255,1) 0%, rgba(166,0,255,1) 89%);*/
}
.logo img{
  width: 210px;
  height: 70px;
}

.info{
  padding: 10px;
  margin: auto;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.menu{
  margin-top: 1%;
  /*margin-bottom: 1%;*/

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-item{
  font-size: 17px;
}

.with-icon {
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  }
.content {
  flex-grow: 1;
  display: flex;
  /*background-image: url("https://res2.weblium.site/res/5e20594b24d0ee0021822582/5e206f423c56ed002173927b_optimized_1395_c1395x930-0x0.webp");*/
  background-image: url("https://st2.depositphotos.com/2251265/10525/i/950/depositphotos_105257834-stock-photo-double-exposure-photo-bearded-businessman.jpg");
  background-size: cover;

}

.content-text,.content-img{
  width:50%;
}
.content-img {
  /*background-image: url("https://res2.weblium.site/res/5e20594b24d0ee0021822582/5e206f423c56ed002173927b_optimized_1395_c1395x930-0x0.webp");*/
  /*background-size: cover;*/
}
.content-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}
.content-text button{
 width: fit-content;
  background-color: wheat;
}
