<div class="wrapper">
  <div class="info">
    <div class="with-icon">
      <mat-icon> call</mat-icon>
      0676750519
    </div>

    <div class="with-icon">
      <mat-icon>mail_outline</mat-icon>
      nm@zahidaudit.com
    </div>

    <div class="with-icon">
      <mat-icon> stay_current_portrait</mat-icon>
      0981049862
    </div>
  </div>

<!--  <div class="logo">-->
<!--    <img src="./assets/images/TMG_integrity_audit.png" alt="logo">-->
<!--  </div>-->

  <div class="menu">
    <div class="logo">
      <img src="./assets/images/logo.jpg" alt="logo">
    </div>
    <button class="menu-item" mat-button (click)="toHeader()">Головна</button>
    <button class="menu-item" mat-button (click)="toAboutUs()">Про компанію</button>
    <button class="menu-item" mat-button (click)="toMaintenance()">Послуги</button>
    <button class="menu-item" mat-button (click)="toQualityPolice()">Політика якості</button>
    <button class="menu-item" mat-button>Контакти</button>
  </div>
<div class="content">
<div class="content-text">
  <div>
    <h1>  Your Business Is Our Concern
    </h1>
    <h2>We provide all kinds of services to SMEs and large corporations looking for a reliable partner in their daily business tasks.</h2>
  </div>
  <button class=".content-text" mat-button (click)="toSendRequest()">Send Request</button>

</div>
  <div class="content-img">
  </div>
</div>
</div>


