

<div class="footer">


  <div class="contacts">
    <div class="address">
      <mat-icon> location_on</mat-icon><div>м.Львів Героїв УПА 73</div>

    </div>
    <div class="hours">
      <mat-icon>schedule</mat-icon><div>ПН-ПТ: 9:00-18:00</div>

    </div>
    <div class="phones">
      <mat-icon> stay_current_portrait</mat-icon><div>+38(067)-675-05-19</div>
    </div>
    <div class="phones">
      <mat-icon> call_end</mat-icon><div>+(032)-675-05-19</div>
    </div>
  </div>
  <div class="social">
    <mat-icon (click)="goToLink('https://www.facebook.com/diana.makovetskaya.7/')">facebook</mat-icon>
    <div (click)="goToLink('https://www.instagram.com/katherine.ga/')"><span class="iconify" data-icon="mdi-instagram" data-inline="false"></span></div>
  </div>

  <div class="footer-text">
    <span id="year"></span> ZAHIDAUDITSERVICE
  </div>
</div>
